ion-toolbar{
	--background : #ffffff;
}

.card-mileage{

	background: #fff;
	padding: 12px;

	.line-chart-nav{
		display: flex;
		justify-content: space-between;
		background: #F9F9F9;
		padding: 10px;
	    border-bottom: 1px solid #E5E5E5;
	    border-radius: 6px 6px 0 0;
    	margin-top: 1rem;
    	padding-top: 1rem;

		> span{
			font-family: 'San Francisco Text';
			font-weight: bold;
			font-size: 16px;
			color: #EFB725;
		}
		>a{
			color: #000000;

			ion-icon{
				font-size: 22px;
			}
		}
	}

	.monthly-mileage {
	    
	    display: flex;
	    justify-content: space-between;

	    > .left{
	    	h4{
	        	margin: 0;
	        	font-family: 'San Francisco Text';
				font-weight: 500;
				font-size: 20px;
	        }
	        > span{
	        	display: block;
	        	font-family: 'San Francisco Text';
				font-weight: 500;
				font-size: 14px;
				color: #B2B2B2;
	        }
	    }

	    > .right{
	    	> span{
	    		display: block;
	    		font-family: 'San Francisco Text';
				font-weight: 700;
				font-size: 30px;
				color: #EFB725;
	    	}
	    }
	}

	canvas{
	    background: #F9F9F9;
        padding: 10px;
    	border-radius: 0 0 6px 6px;
	}

	ion-segment{
		margin-bottom: -12px;
		ion-segment-button{
			font-family: 'San Francisco Text';
			font-weight: 500;
			font-size: 13px;
			text-transform: initial;
			--padding-start: 0;
            --padding-end: 0;
            min-width: 80px;

            &.segment-button-checked{
            	ion-label{
	            	color: #000000;
	            }
            }

            ion-label{
            	color: rgba(0,0,0,0.2);
            }
		}
	}

}


.card-trip{
	--background: #fff;
	margin-top: 1.2rem;
    margin-bottom: 1.5rem;
    
	ion-card-header{
		display: flex;
		justify-content: space-between;

		h6{
			font-family: 'San Francisco Text';
			font-weight: 500;
			margin: 0;
			color: #000000;
			font-size: 16px;
		}

		span{
			font-family: 'San Francisco Text';
			font-weight: 700;
			color: #EFB725;
			font-size: 16px;
		}

	}

	ion-card-content{
		padding-top: 0;

		.trip-details {
		    list-style: none;
		    padding: 0;
		    margin: 0;
		    margin-top: 1rem;

		    > li{
		    	> label{
		    		font-family: 'San Francisco Text';
					font-weight: 500;
					font-size: 12px;
					color: rgba(0,0,0,0.3);
		    	}
		    	> p{
		    		font-family: 'San Francisco Text';
					font-weight: 500;
					font-size: 16px;
					color: #000000;
				    margin-bottom: 3px;
		    	}

		    	&:last-child{
		    		border-bottom: 0;
		    	}
		    }
		}
	}
}