ion-toolbar{
	--background : #ffffff;

	ion-button {
		--ion-toolbar-color: #000000;

		&.btn-save{
			--ion-toolbar-color: #EFB725;
		}
	}	
}

.guide {
    text-align: center;
    margin-bottom: 20px;
    color: #000000;

    a{
    	text-decoration: none;
    }

    > p{
    	font-family: 'San Francisco Text';
    	font-weight: 400;
	    font-size: 14px;
        margin-bottom: 0;
    }

    > h4{
    	font-family: 'San Francisco Text';
    	font-weight: 500;
	    font-size: 16px;
	    margin-bottom: 10px;
    	margin-top: 8px;
    }

    > span{
	    display: inline-block;
	    font-family: San Francisco Text;
	    font-weight: 500;
	    font-size: 12px;
	    border: 1px solid #DEDEDE;
	    border-radius: 50%;
	    padding: 6px;
	    margin: 5px 0;
	    background: #ffffff;
	    position: relative;

	    &:before{
	        content: "";
		    position: absolute;
		    width: 1px;
		    background: #DEDEDE;
		    height: 50px;
		    top: -5px;
		    left: calc(50% - 0.5px);
		    z-index: -1;
	    }
    }

    ion-input {
	    --background: #F7F7F7;
	    --padding-start: 10px;
	    --padding-end: 10px;
	    --color: #000000;
	    font-family: 'San Francisco Text';
	    font-weight: 600;
	    font-size: 18px;
        border-radius: 6px;
        border: 1px solid #DEDEDE;
        pointer-events: none;
	}

}