ion-content{
	--ion-padding: 30px;
}

ion-item{
	--padding-start: 0;
	--border-color: #F0F0F0;

	ion-label{
		color: #B2B2B2;
		font-family: 'San Francisco Text';
		font-weight: 400;
	}
	ion-input{
		--color: #000;
		font-family: 'San Francisco Text';
		font-weight: 500;
		font-size: 20px;	
	}
}

.page-title{
	margin-top: 40px;
    margin-bottom: 40px;
}

.back-button{
	--padding-start: 0;
	--padding-end: 0;
	--color: #000000;
	--color-activated: #000000;
	--color-focused: #000000;

	ion-icon{
		font-size: 48px;
		margin-left: -10px;
	}
}

.reset-form{
	ion-button{
		margin-top: 20px;
	}
}