<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-list lines="full">
		<ion-item class="unread">
			<div>
				<span class="title">Clock Reminder</span>
				<span class="description">It’s 3:00 pm, do you need to clock out?</span>
				<span class="time">Yesterday</span>
			</div>
		</ion-item>
		<ion-item class="unread">
			<div>
				<span class="title">Clock Reminder</span>
				<span class="description">It’s 3:00 pm, do you need to clock out?</span>
				<span class="time">Yesterday</span>
			</div>
		</ion-item>
		<ion-item class="unread">
			<div>
				<span class="title">Clock Reminder</span>
				<span class="description">It’s 3:00 pm, do you need to clock out?</span>
				<span class="time">Yesterday</span>
			</div>
		</ion-item>
		<ion-item>
			<div>
				<span class="title">Clock Reminder</span>
				<span class="description">It’s 3:00 pm, do you need to clock out?</span>
				<span class="time">Yesterday</span>
			</div>
		</ion-item>
		<ion-item>
			<div>
				<span class="title">Clock Reminder</span>
				<span class="description">It’s 3:00 pm, do you need to clock out?</span>
				<span class="time">Yesterday</span>
			</div>
		</ion-item>
		<ion-item>
			<div>
				<span class="title">Clock Reminder</span>
				<span class="description">It’s 3:00 pm, do you need to clock out?</span>
				<span class="time">Yesterday</span>
			</div>
		</ion-item>
		<ion-item>
			<div>
				<span class="title">Clock Reminder</span>
				<span class="description">It’s 3:00 pm, do you need to clock out?</span>
				<span class="time">Yesterday</span>
			</div>
		</ion-item>
		<ion-item>
			<div>
				<span class="title">Clock Reminder</span>
				<span class="description">It’s 3:00 pm, do you need to clock out?</span>
				<span class="time">Yesterday</span>
			</div>
		</ion-item>
	</ion-list>

</ion-content>
